:root{
    --major-color: #8616ee;
    --black: #333;
}

.About{
    margin-top: -2.5em;
}

.About .text{
    width: 800px;
    max-width: 100%;
    line-height: 21px;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 1px;
}

.show{
    height: 8vh;
    overflow: hidden;
}

.hide{
    overflow: hidden;
    min-height: 10vh;
}

.read-more p{
    cursor: pointer;
}